.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.item {
  font-family: var(--font-manrope);
  font-weight: 500;
  line-height: normal;
  transition: color .15s ease, font-size .15s ease;
  user-select: none;
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &.desktop {
    padding: 13px 14px 14px;
    font-size: 16px;

    &:hover, &:focus {
      color: var(--BLUE);
    }

    &:focus {
      text-decoration: underline;
    }

    &.active {
      width: 95%;
      height: 95%;
      margin: auto;
      font-size: 14.4px;
      color: var(--BLUE);
      padding: 11.7px 12.6px 12.6px;
    }
  }

  &.mobile {
    border-radius: 32px;
    font-size: 14px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.24);
    color: #FFFFFF;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease, width .15s ease-in;

    &.active {
      width: 90%;
      height: 90%;
      background-color: var(--BLUE);
      border-radius: 30.4px;
      padding: 14.25px 22.8px;
      box-shadow: none;
    }
  }
}