.container {
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 959px) {
    width: 100%;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 49px;
  width: 100%;
  padding: 0 24px;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;

  @media (max-width: 959px) {
    width: 100%;
  }

  &.blue {
    background-color: var(--BLUE);
    border-radius: 32px;
    color: #FFFFFF;

    &:hover {
      background-color: var(--BLUEHV);
    }

    &:active {
      width: 95%;
      height: 95%;
      background-color: var(--BLUEAC);
      padding: 0 22.8px;
      border-radius: 30.4px;

      p {
        font-size: 15.2px;
      }

      .text {
        padding: 0 7.6px 1.9px;
      }
    }

    &:focus {
      outline: 2px solid #FFFFFF;
    }
  }

  &.border {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--BR);
    border-radius: 12px;
    color: var(--TX_0);

    svg {
      path {
        stroke: var(--TX_0);
      }
    }

    &:hover {
      box-shadow: inset 0 0 0 1px var(--BLUE);
      color: var(--BLUE);

      svg {
        path {
          stroke: var(--BLUE);
        }
      }
    }

    &:active {
      width: 95%;
      height: 95%;
      background-color: var(--BLUE);
      color: #FFFFFF;

      svg {
        path {
          stroke: #FFFFFF;
        }
      }

      &:hover {
        box-shadow: none;
        color: #FFFFFF;
      }

      &:focus {
        background-color: var(--BLUE);
        filter: none;
      }
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0.01);
      filter: drop-shadow(0 0 2px var(--BLUE));
    }
  }
}

.text {
  text-align: center;
  padding: 0 8px 2px;
}