.borderedBlock {
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: var(--BG_1);
  box-shadow: inset 0 0 0 1px var(--BR);
  border-radius: 24px;
  overflow: hidden;

  @media (max-width: 1280px) {
    flex-direction: column;
    height: 100%;
  }
}

.container {
  position: relative;
}