.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  left: 0;
  bottom: -250px;
  filter: blur(100);

  &.blue {
    svg {
      path {
        fill: #3660EB;
      }
    }
  }

  &.purple {
    svg {
      path {
        fill: #8E40C9;
      }
    }
  }

  @media (max-width: 1279px) {
    bottom: -1200px;
  }

  @media (max-width: 959px) {
    bottom: -900px;
  }
}

.borderedBlock {
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: var(--BG_1);
  box-shadow: inset 0 0 0 1px var(--BR);
  border-radius: 24px;

  @media (max-width: 1279px) {
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: 959px) {
    height: 100%;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 1024px;

    h1 {
      font-size: 80px;
    }

    h5 {
      font-size: 20px;
      width: 432px;
    }
  }
  @media (max-width: 479px) {
    width: 100%;
    height: 800px;

    h5 {
      width: 312px;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 32px 40px 40px;

  @media (max-width: 1279px) {
    align-items: center;
    padding: 48px 70px 72px;
    gap: 32px;
  }

  @media (max-width: 959px) {
    align-items: center;
    padding: 48px 70px 72px;
    gap: 32px;
  }
}

.button {
  @media (max-width: 959px) {
    width: 100vw;
  }
}

.image {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 566px;

  @media (max-width: 1279px) {
    height: 100%;
    width: 832px;
  }

  @media (max-width: 959px) {
    height: 100%;
    width: 704px;
  }
}