.main {
  padding-top: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 738px;
  text-align: center;

  h5 {
    max-width: 610px;
    width: 100%;
    color: var(--TX_1);
  }

  @media (max-width: 1280px) {
    width: 100%;
    height: 1280px;
  }

  @media (max-width: 960px) {
    width: 100%;
    height: 1024px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 1024px;
    padding: 0 24px;

    h1 {
      font-size: 80px;
    }

    h5 {
      font-size: 20px;
      max-width: 432px;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    height: 800px;
    padding: 0 16px;

    h5 {
      max-width: 312px;
    }
  }
}