.container {
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 959px) {
    width: 100%;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 49px;
  width: 100%;
  padding: 0 24px;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  box-shadow: none;

  @media (max-width: 959px) {
    width: 100%;
  }

  &.blue {
    background-color: var(--BLUE);
    border-radius: 32px;
    color: #FFFFFF;

    &:hover {
      background-color: var(--BLUEHV);
    }

    &:active {
      width: 95%;
      height: 95%;
      background-color: var(--BLUEAC);
      padding: 0 22.8px;
      border-radius: 30.4px;
      box-shadow: none;

      p {
        font-size: 15.2px;
      }

      svg {
        width: 22px;
        height: 22px;
      }

      .text {
        padding: 0 7.6px 1.9px;
      }
    }

    &:focus {
      box-shadow: inset 0 0 0 2px #FFFFFF;
    }
  }
}

.text {
  text-align: center;
  padding: 0 8px 2px;
}