.container {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 960px) {
    width: 100%;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 12px;
  user-select: none;
  cursor: pointer;
  border-radius: 32px;
  box-shadow: inset 0 0 0 1px var(--BR);

  svg {
    path {
      stroke: var(--TX_0);
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--BLUE);

    svg {
      path {
        stroke: var(--BLUE);
      }
    }
  }

  &:active {
    width: 90%;
    height: 90%;
    background-color: var(--BLUE);
    box-shadow: none;

    svg {
      path {
        stroke: #FFFFFF;
      }
    }
  }

  &:focus {
    background-color: rgba(0, 0, 0, 0.01);
    filter: drop-shadow(0 0 2px var(--BLUE));

    svg {
      path {
        stroke: var(--TX_0);
      }
    }
  }

  &.disabled {
    opacity: 0.3;
    cursor: default;

    &:hover {
      box-shadow: inset 0 0 0 1px var(--BR);

      svg {
        path {
          stroke: var(--TX_0);
        }
      }
    }

    &:active {
      box-shadow: inset 0 0 0 1px var(--BR);
      background-color: transparent;
      width: 100%;
      height: 100%;

      svg {
        path {
          stroke: var(--TX_0);
        }
      }
    }
  }
}