.desktop {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  position: relative;
  width: 100%;
  height: 330.75px;
  border-radius: 24px;
  overflow: hidden;

  @media (max-width: 1280px) {
    height: 227.25px;
  }

  @media (max-width: 960px) {
    height: 191.25px;
  }

  @media (max-width: 768px) {
    height: 243px;
  }

  @media (max-width: 480px) {
    height: 184.5px;
  }
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}


// mobile

.mobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.images {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}