.mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }
}

.mobileHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
  margin-top: max(16px, env(safe-area-inset-top, 16px));
  height: 52px;
  border-radius: 32px;
  background-color: var(--BG_2);
  box-shadow: inset 0 0 0 1px var(--BR);
  backdrop-filter: blur(32px);
  padding: 0 10px 0 24px;
  z-index: 10000;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 9999;
  animation: fadeIn 0.3s ease-out;
  touch-action: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 466px;
  padding: 0 24px;
  border-radius: 48px 48px 0 0;
  background-color: var(--BG_3);
  transform: translateY(150%);
  transition: transform 300ms ease-in;
  box-shadow: inset 0 0 0 1px var(--BR);
  backdrop-filter: blur(32px);
  z-index: 10001;
  display: none;
  flex-direction: column;

  &.opened {
    transform: translateY(0);
    display: flex;
  }
}

.dragHandle {
  padding: 8px 0 24px 0;
  width: 100%;
  height: 100%;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
  user-select: none;

  &:active {
    cursor: grabbing;
  }
}

.content {
  padding: 0 0 24px;
}

.handleBar {
  width: 64px;
  height: 3px;
  background: #FFFFFF;
  border-radius: 32px;
  transition: background 0.2s;
}

.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 14px;

  svg {
    path {
      stroke: var(--TX_0);
    }
  }
}

.menuIcon {

  &:hover  {
    svg {
      path {
        stroke: var(--BLUE);
      }
    }
  }

  &.open {
    svg {
      path {
        stroke: var(--BLUEAC);
      }
    }
  }
}

.mobileItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}