.container {
  width: 1200px;
  position: relative;
  margin: -196px auto 0;
  display: flex;
  flex-direction: column;

  @media (max-width: 1280px) {
    width: 100%;
    padding: 0 64px;
    gap: 128px;
    margin: -128px auto 0;
  }

  @media (max-width: 960px) {
    width: 100%;
    padding: 0 32px;
    gap: 128px;
    margin: -128px auto 0;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 24px;
    gap: 128px;
    margin: -128px auto 0;
  }

  @media (max-width: 480px) {
    width: 100%;
    padding: 0 16px;
    gap: 128px;
    margin: -128px auto 0;
  }
}