@import "variables";

:root {
  @include light-theme;
}

html:not(._light) {
  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}

html._dark {
  @include dark-theme;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--TX_0);
  background: var(--BG_0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-involve);
}

p {
  font-family: var(--font-manrope);
}

a {
  color: inherit;
  text-decoration: none;
}

@import "text";
