h1 {
  font-size: 170px;
  font-weight: 500;
  line-height: 100%;
}

h2 {
  font-size: 80px;
  font-weight: 500;
  line-height: 100%;
}

h3 {
  font-size: 64px;
  font-weight: 500;
  line-height: 120.00000476837158%;
}

h4 {
  font-size: 40px;
  font-weight: 500;
  line-height: 120.00000476837158%;
}

h5 {
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}

h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

p {
  font-family: var(--font-manrope);
  font-weight: 500;
  line-height: normal;

  &.text_24 {
    font-size: 24px;
  }

  &.text_20 {
    font-size: 20px;
  }

  &.text_16 {
    font-size: 16px;
  }

  &.text_14 {
    font-size: 16px;
  }

  &.involve {
    font-family: var(--font-involve);
  }
}