.wrapper {
  position: relative;
  width: 100%;
  height: 0;
  overflow: visible;
  z-index: -1;
  pointer-events: none;

  &.below {
    top: 0;
  }

  &.above {
    top: auto;
    bottom: 0;
  }
}

.blurContainer {
  position: absolute;
  left: 50%;
  width: 2400px;
  height: 837px;
  transform: translateX(-50%);
  isolation: isolate;

  .below & {
    top: 0;
  }

  .above & {
    bottom: 0;
  }

  &.purple {
    --wave-color: #8E40C9;
  }

  &.blue {
    --wave-color: #3660EB;
  }

  &.darkBlue {
    --wave-color: #011CFF;
  }

  &.small {
    height: 357px;
  }

  @media (max-width: 1280px) {
    width: 1440px;

    &.small {
      height: 450px;
    }
  }

  @media (max-width: 960px) {
    width: 1440px;
  }

  @media (max-width: 768px) {
    width: 768px;
    height: 737px;
  }

  @media (max-width: 480px) {
    width: 768px;
    height: 637px;
  }
}

.rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--wave-color);
  filter: blur(150px);
}

.circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: var(--wave-color);
  filter: blur(20px);

  @media (max-width: 768px) {
    width: 110px;
    height: 110px;
  }

  &.small {
    height: 75px;
    top: 50px;
  }
}

.circle__1 {
  animation: circleMove1 50s ease-in-out infinite;
  transition: none;
  width: 300px;
  right: 300px;
  top: 300px;

  @media (max-width: 1280px) {
    animation: circleMove3 50s ease-in-out infinite;
    width: 150px;
  }

  @media (max-width: 768px) {
    width: 110px;
    height: 110px;
    right: 200px;
    top: 200px;
  }
}

.circle__2 {
  animation: circleMove2 50s ease-in-out infinite;
  transition: none;
  left: 200px;
  top: 400px;

  @media (max-width: 1280px) {
    animation: circleMove4 10s ease-in-out infinite;
  }

  @media (max-width: 768px) {
    top: 300px;
    left: 100px;
  }
}

@keyframes circleMove1 {
  0%, 100% {
    transform: translateX(0%) translateY(50%) scale(5);
  }
  50% {
    transform: translateX(100%) translateY(20%) scale(5);
  }
}

@keyframes circleMove2 {
  0%, 100% {
    transform: translateX(120%) translateY(50%) scale(5);
  }
  50% {
    transform: translateX(0) translateY(0) scale(5);
  }
}

@keyframes circleMove3 {
  0%, 100% {
    transform: translateX(200%) translateY(0%) scale(5);
  }
  50% {
    transform: translateX(100%) translateY(150%) scale(5);
  }
}

@keyframes circleMove4 {
  0%, 100% {
    transform: translateX(-60%) translateY(10%) scale(5);
  }
  50% {
    transform: translateX(0%) translateY(20%) scale(5);
  }
}