.wrapper {
  position: relative;
  width: 100%;
  height: 0;
  overflow: visible;
  z-index: -1;
  pointer-events: none;

  &.below {
    top: 0;
  }

  &.above {
    top: 0;
  }
}

.blurContainer {
  position: absolute;
  left: 50%;
  width: 2400px;
  height: 837px;
  transform: translateX(-50%);
  isolation: isolate;

  .below & {
    top: 0;
  }

  .above & {
    bottom: 0;
  }

  &.purple {
    --wave-color: #8E40C9;
  }

  &.blue {
    --wave-color: #3660EB;
  }

  @media (max-width: 1280px) {
    width: 1440px;
  }

  @media (max-width: 960px) {
    width: 1440px;
  }

  @media (max-width: 768px) {
    width: 768px;
    height: 737px;
  }

  @media (max-width: 480px) {
    width: 768px;
    height: 637px;
  }
}

.rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--wave-color);
  filter: blur(150px);
}

.circle {
  position: absolute;
  width: 1000px;
  height: 500px;
  border-radius: 1000px;
  background: var(--wave-color);
  filter: blur(150px);


  @media (max-width: 768px) {
    width: 650px;
    height: 650px;
  }
}

.circle__1 {
  animation: circleMove1 50s ease-in-out infinite;

  @media (max-width: 1280px) {
    animation: circleMove3 50s ease-in-out infinite;
  }
}

.circle__2 {
  animation: circleMove2 50s ease-in-out infinite;

  @media (max-width: 1280px) {
    animation: circleMove4 50s ease-in-out infinite;
  }
}

@keyframes circleMove1 {
  0%, 100% {
    transform: translateX(140%) translateY(20%);
  }
  50% {
    transform: translateX(120%) translateY(30%);
  }
}

@keyframes circleMove2 {
  0%, 100% {
    transform: translateX(-20%) translateY(50%);
  }
  50% {
    transform: translateX(-50%) translateY(40%);
  }
}

@keyframes circleMove3 {
  0%, 100% {
    transform: translateX(70%) translateY(-15%);
  }
  50% {
    transform: translateX(50%) translateY(0%);
  }
}

@keyframes circleMove4 {
  0%, 100% {
    transform: translateX(-60%) translateY(10%);
  }
  50% {
    transform: translateX(-25%) translateY(20%);
  }
}