.bg {
  filter: blur(150);
  z-index: -1;

  &.purple {
    path {
      fill: #8E40C9;
    }
  }

  &.blue {
    path {
      fill: #3660EB;
    }
  }

  &.light {
    display: none;
  }
}

.container {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  transform: translateX(-25%);
  width: 2410px;
  height: 837px;
  z-index: -1;
  
  @media (max-width: 1280px) {
    bottom: auto;
    transform: translateX(-33%);
    top: 0;
  }

  @media (max-width: 960px) {
    width: 2218px;
    bottom: -41px;
    transform: translateX(-39%);
    top: auto;
  }

  @media (max-width: 768px) {
    width: 1930px;
    bottom: -18.44px;
    transform: translateX(-51%);
    top: auto;
  }

  @media (max-width: 480px) {
    width: 1810px;
    bottom: -73px;
    transform: translateX(-57%);
    top: auto;
  }
}