.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  user-select: none;
  cursor: pointer;
  border-radius: 8px;

  svg {
    path {
      stroke: var(--TX_0);
    }
  }

  &:hover {
    svg {
      path {
        stroke: var(--BLUE);
      }
    }
  }

  &:active {
    background-color: var(--BLUEAC);
  }

  &:focus {
    filter: drop-shadow(0 0 2px var(--BLUE));

    svg {
      path {
        stroke: var(--TX_0);
      }
    }
  }
}