.desktop {
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: inline-flex;
  width: 755px;
  gap: 8px;

  @media (max-width: 768px) {
    display: none;
  }
}

.items {
  display: flex;
  min-width: 571px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: var(--BG_2);
  box-shadow: inset 0 0 0 1px var(--BR);
  backdrop-filter: blur(32px);
  border-radius: 32px;
}