.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  border-radius: 24px;
  box-shadow: inset 0 0 0 1px var(--BR);
  padding: 16px 24px 20px;
  width: 384px;
}

.description {
  color: var(--TX_1);
}