.header {
  position: fixed;
  width: 100%;
}

.desktop {
  position: fixed;
  top: 44px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: inline-flex;
  width: 755px;
  gap: 8px;

  @media (max-width: 768px) {
    display: none;
  }
}

.items {
  display: flex;
  min-width: 571px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: var(--BG_2);
  box-shadow: inset 0 0 0 1px var(--BR);
  backdrop-filter: blur(32px);
  border-radius: 32px;
}

.mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }
}

.mobileHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
  height: 52px;
  border-radius: 32px;
  background-color: var(--BG_2);
  box-shadow: inset 0 0 0 1px var(--BR);
  backdrop-filter: blur(32px);
  padding: 0 24px;
  z-index: 1002;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 999;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 466px;
  padding: 0 24px;
  border-radius: 48px 48px 0 0;
  background-color: var(--BG_3);
  transform: translateY(100%);
  transition: transform 200ms ease-in-out;
  box-shadow: inset 0 0 0 1px var(--BR);
  backdrop-filter: blur(32px);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &.opened {
    transform: translateY(0);
  }
}

.dragHandle {
  padding: 8px 0 0 0;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
  user-select: none;

  &:active {
    cursor: grabbing;
  }
}

.handleBar {
  width: 64px;
  height: 3px;
  background: #FFFFFF;
  border-radius: 32px;
  transition: background 0.2s;
}

.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menuIcon {

  &:hover  {
    svg {
      path {
        stroke: var(--BLUE);
      }
    }
  }

  &.open {
    svg {
      path {
        stroke: var(--BLUEAC);
      }
    }
  }
}

.open {

}

.mobileItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}