.container {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  box-shadow: inset 0 0 0 1px var(--BR);
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    box-shadow: inset 0 0 0 1px var(--BLUE);
  }

  &:focus {
    outline: 2px solid var(--BLUE);
  }

  &:active {
    box-shadow: inset 0 0 0 1px var(--BLUEAC);
  }

  &.checked {
    background-color: var(--BLUE);
    box-shadow: inset 0 0 0 1px var(--BLUE);

    &:hover {
      background-color: var(--BLUEHV);
      box-shadow: inset 0 0 0 1px var(--BLUEHV);
    }

    &:focus {
      outline: 2px solid var(--TX_0);
    }

    &:active {
      background-color: var(--BLUEAC);
      box-shadow: inset 0 0 0 1px var(--BLUEAC);
    }
  }

  &.error {
    box-shadow: inset 0 0 0 1px var(--RED);

    &:hover {
      box-shadow: inset 0 0 0 1px var(--RED);
    }
  }
}

.icon {

}

.label {
  display: inline-flex;
  width: 100%;
  padding-top: 3px;

  p {
    color: var(--TX_1);
    font-size: 16px;
  }
}