.bg {
  background: url("./bg.svg") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  left: 0;
  bottom: -250px;
  filter: blur(100);

  @media (max-width: 1279px) {
    bottom: -1200px;
  }

  @media (max-width: 959px) {
    bottom: -900px;
  }
}

.services {
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: var(--BG_1);
  box-shadow: inset 0 0 0 1px var(--BR);
  border-radius: 24px;
  overflow: hidden;

  @media (max-width: 1279px) {
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: 959px) {
    height: 100%;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 1024px;

    h1 {
      font-size: 80px;
    }

    h5 {
      font-size: 20px;
      width: 432px;
    }
  }
  @media (max-width: 479px) {
    width: 100%;
    height: 800px;

    h5 {
      width: 312px;
    }
  }
}

.text_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 32px 40px 40px;

  @media (max-width: 1279px) {
    align-items: center;
    padding: 48px 70px 72px;
    gap: 32px;
  }

  @media (max-width: 959px) {
    align-items: center;
    padding: 48px 70px 72px;
    gap: 32px;
  }
}

.button {
  @media (max-width: 959px) {
    width: 100vw;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  width: 554px;

  p {
    color: var(--TX_1);
  }

  @media (max-width: 1279px) {
    align-items: center;
    width: 100%;
    text-align: center;
  }

  @media (max-width: 959px) {
    align-items: center;
    width: 100%;
    text-align: center;
  }
}

.image {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 100%;

  @media (max-width: 1279px) {
    height: 589px;
    width: 832px;
  }

  @media (max-width: 959px) {
    width: 704px;
    height: 498px;
  }
}

.sphere {
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(147, 147, 147, 0.5);
}

.sphere__1 {
  width: 200px;
  height: 200px;
  bottom: -40px;
  left: -50px;
  background: linear-gradient(110deg, #67FAFF, #3358E9);

  @media (max-width: 1279px) {
    width: 294px;
    height: 294px;
    bottom: -59px;
    left: -74px;
  }

  @media (max-width: 959px) {
    width: 249px;
    height: 249px;
    bottom: -49.33px;
    left: -62.19px;
  }
}

.sphere__2 {
  width: 138px;
  height: 138px;
  top: 60px;
  left: 72px;
  z-index: 7;
  background: linear-gradient(220deg, #67FAFF, #3358E9);

  @media (max-width: 1279px) {
    width: 203px;
    height: 203px;
    top: 88px;
    left: 106px;
  }

  @media (max-width: 959px) {
    width: 172px;
    height: 172px;
    top: 74.63px;
    left: 89.55px;
  }
}

.sphere__3 {
  width: 100px;
  height: 100px;
  top: -20px;
  right: 86px;
  filter: blur(4px);
  background: linear-gradient(90deg,#67FAFF, #3358E9);

  @media (max-width: 1279px) {
    width: 147px;
    height: 147px;
    top: -30px;
    right: 127px;
  }

  @media (max-width: 959px) {
    width: 125px;
    height: 125px;
    top: -24.88px;
    right: 106.97px;
  }
}

.sphere__4 {
  width: 390px;
  height: 390px;
  bottom: -110px;
  right: -144px;
  z-index: 1;
  filter: blur(4px);
  background: linear-gradient(#67FAFF, #3358E9);

  @media (max-width: 1279px) {
    width: 574px;
    height: 574px;
    bottom: -162px;
    right: -212px;
  }

  @media (max-width: 959px) {
    width: 485px;
    height: 485px;
    bottom: -136.4px;
    right: -179.11px;
  }
}

.sphere__center {
  position: relative;
  width: 222px;
  height: 222px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 1px rgba(147, 147, 147, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  @media (max-width: 1279px) {
    width: 326px;
    height: 326px;
  }

  @media (max-width: 959px) {
    width: 276px;
    height: 276px;
  }
}

.filter {
  position: absolute;
  width: 222px;
  height: 222px;
  border-radius: 50%;
  background: linear-gradient(#67FAFF, #3358E9);
  backdrop-filter: blur(41.41px);
  opacity: 35%;


  @media (max-width: 1279px) {
    width: 326px;
    height: 326px;
  }

  @media (max-width: 959px) {
    width: 276px;
    height: 276px;
  }
}

.fixed {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: linear-gradient(#67FAFF, #3358E9);

  @media (max-width: 1279px) {
    width: 220px;
    height: 220px;
    backdrop-filter: blur(61.41px) opacity(0.35)
  }

  @media (max-width: 959px) {
    width: 187px;
    height: 187px;
  }
}

.image__svg {
  backdrop-filter: blur(35px);
  z-index: 10;
  filter: drop-shadow(40px 40px 50px rgba(103, 250, 255, 0.5));
  border-radius: 100%;

  @media (max-width: 1279px) {
    width: 326px;
    height: 326px;
  }

  @media (max-width: 959px) {
    width: 276px;
    height: 276px;
  }
}

