.text_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 32px 40px 40px;

  @media (max-width: 1280px) {
    align-items: center;
    padding: 48px 40px 72px;
    gap: 32px;
  }

  @media (max-width: 960px) {
    align-items: center;
    padding: 48px 40px 72px;
    gap: 32px;
  }

  @media (max-width: 768px) {
    align-items: center;
    padding: 24px 24px 64px;
    gap: 32px;
  }
}

.button {
  @media (max-width: 960px) {
    width: 100vw;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  width: 100%;

  p {
    color: var(--TX_1);
  }

  @media (max-width: 1280px) {
    align-items: center;
    width: 100%;
    text-align: center;
  }

  @media (max-width: 960px) {
    align-items: center;
    width: 100%;
    text-align: center;
  }

  @media (max-width: 768px) {
    align-items: flex-start;
    width: 100%;
    text-align: left;

    h4 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
}

.image {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 100%;
  z-index: 1;

  @media (max-width: 1280px) {
    width: 832px;
    height: 589px;
  }

  @media (max-width: 960px) {
    width: 704px;
    height: 498px;
  }

  @media (max-width: 768px) {
    width: 432px;
    height: 306px;
  }

  @media (max-width: 480px) {
    width: 328px;
    height: 232px;
  }
}

.sphere {
  position: absolute;
  border-radius: 50%;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow:  inset 0 0 40px 0 rgba(255, 255, 255, 1), inset 0 0 40px 0 rgba(0, 0, 0, 1);
    mix-blend-mode: overlay;
    pointer-events: none;
  }
}

.sphere__1 {
  width: 200px;
  height: 200px;
  bottom: -40px;
  left: -50px;
  background: linear-gradient(110deg, #67FAFF, #3358E9);

  @media (max-width: 1280px) {
    width: 294px;
    height: 294px;
    bottom: -59px;
    left: -74px;
  }

  @media (max-width: 960px) {
    width: 249px;
    height: 249px;
    bottom: -49.33px;
    left: -62.19px;
  }

  @media (max-width: 768px) {
    width: 152.65px;
    height: 152.65px;
    bottom: -30px;
    left: -38px;
  }

  @media (max-width: 480px) {
    width: 115.9px;
    height: 115.9px;
    bottom: -22.98px;
    left: -28.98px;
  }
}

.sphere__2 {
  width: 138px;
  height: 138px;
  top: 60px;
  left: 72px;
  z-index: 5;
  background: linear-gradient(220deg, #67FAFF, #3358E9);

  @media (max-width: 1280px) {
    width: 203px;
    height: 203px;
    top: 88px;
    left: 106px;
  }

  @media (max-width: 960px) {
    width: 172px;
    height: 172px;
    top: 74.63px;
    left: 89.55px;
  }

  @media (max-width: 768px) {
    width: 105.33px;
    height: 105.33px;
    top: 45.79px;
    left: 54.95px;
  }

  @media (max-width: 480px) {
    width: 79.97px;
    height: 79.97px;
    top: 34.77px;
    left: 41.72px;
  }
}

.sphere__3 {
  width: 100px;
  height: 100px;
  top: -20px;
  right: 86px;
  filter: blur(4px);
  background: linear-gradient(90deg,#67FAFF, #3358E9);

  @media (max-width: 1280px) {
    width: 147px;
    height: 147px;
    top: -30px;
    right: 127px;
  }

  @media (max-width: 960px) {
    width: 125px;
    height: 125px;
    top: -24.88px;
    right: 106.97px;
  }

  @media (max-width: 768px) {
    width: 76.33px;
    height: 76.33px;
    top: -15.27px;
    right: 65.64px;
  }

  @media (max-width: 480px) {
    width: 57.95px;
    height: 57.95px;
    top: -11.59px;
    right: 49.84px;
  }
}

.sphere__4 {
  width: 390px;
  height: 390px;
  bottom: -110px;
  right: -144px;
  z-index: 2;
  filter: blur(4px);
  background: linear-gradient(#67FAFF, #3358E9);

  @media (max-width: 1280px) {
    width: 574px;
    height: 574px;
    bottom: -162px;
    right: -212px;
  }

  @media (max-width: 960px) {
    width: 485px;
    height: 485px;
    bottom: -136.4px;
    right: -179.11px;
  }

  @media (max-width: 768px) {
    width: 297.67px;
    height: 297.67px;
    bottom: -83.7px;
    right: -109.91px;
  }

  @media (max-width: 480px) {
    width: 226.01px;
    height: 226.01px;
    bottom: -63.55px;
    right: -83.45px;
  }
}

.sphere__center {
  position: relative;
  width: 222px;
  height: 222px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 1px rgba(147, 147, 147, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  @media (max-width: 1280px) {
    width: 326px;
    height: 326px;
  }

  @media (max-width: 960px) {
    width: 276px;
    height: 276px;
  }

  @media (max-width: 768px) {
    width: 169.44px;
    height: 169.44px;
  }

  @media (max-width: 480px) {
    width: 128.65px;
    height: 128.65px;
  }
}

.filter {
  position: absolute;
  width: 222px;
  height: 222px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #67FAFF, #3358E9);
  backdrop-filter: blur(41.41px);
  opacity: 35%;


  @media (max-width: 1280px) {
    width: 326px;
    height: 326px;
  }

  @media (max-width: 960px) {
    width: 276px;
    height: 276px;
  }

  @media (max-width: 768px) {
    width: 169.44px;
    height: 169.44px;
  }

  @media (max-width: 480px) {
    width: 128.65px;
    height: 128.65px;
  }
}

.fixed {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: linear-gradient(#67FAFF, #3358E9);

  @media (max-width: 1280px) {
    width: 220px;
    height: 220px;
    backdrop-filter: blur(61.41px) opacity(0.35)
  }

  @media (max-width: 960px) {
    width: 187px;
    height: 187px;
  }

  @media (max-width: 768px) {
    width: 114.49px;
    height: 114.49px;
  }

  @media (max-width: 480px) {
    width: 86.93px;
    height: 86.93px;
  }
}

.image__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 222px;
  backdrop-filter: blur(35px);
  z-index: 10;
  filter: drop-shadow(40px 40px 50px rgba(103, 250, 255, 0.5));
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);

  @media (max-width: 1280px) {
    width: 326px;
    height: 326px;

    svg {
      width: 176px;
      height: 176px;
    }
  }

  @media (max-width: 960px) {
    width: 276px;
    height: 276px;

    svg {
      width: 149px;
      height: 149px;
    }
  }

  @media (max-width: 768px) {
    width: 169.44px;
    height: 169.44px;

    svg {
      width: 91px;
      height: 91px;
    }
  }

  @media (max-width: 480px) {
    width: 128.65px;
    height: 128.65px;
    backdrop-filter: blur(24px);
    filter: drop-shadow(23.18px 23.18px 86.93px rgba(103, 250, 255, 0.5));

    svg {
      width: 69px;
      height: 69px;
    }
  }
}

