.checkbox {

}

.checkboxError {
  color: var(--RED);

  :hover {
    color: var(--RED);
  }

  :focus {
    color: var(--RED);
  }

  :active {
    color: var(--RED);
  }
}

.order {
  display: flex;
  flex-direction: row;
  gap: 24px;

  @media (max-width: 960px) {
    flex-direction: column;
    gap: 64px;
    justify-content: center;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  text-align: left;
  width: 100%;

  h4 {
    width: 386px;
  }

  @media (max-width: 960px) {

    h4 {
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 768px) {

    h4 {
      font-size: 24px;
      line-height: normal;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}