.checkbox {
  color: var(--TX_0);

  &:focus {
    text-decoration: underline;
    color: var(--TX_0);
  }

  &:hover {
    color: var(--BLUE);
  }

  &:active {
    color: var(--BLUEAC);
  }
}

.order {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  text-align: left;
  width: 100%;

  h4 {
    width: 386px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}